:root{
    --colorRed: firebrick;
    --colorGreen: darkolivegreen;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #191919;
    color: #F7F7F7;
}



section:nth-child(odd) {
    background-color: #3c3c3c;
}



.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.blue {
    background-color: steelblue;
}

.gold {
    background-color: gold;
}

.red {
    background-color: var(--colorRed);
}

.green {
    background-color: darkolivegreen;
}

.pink {
    background-color: pink;
}

.pad-arround {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
    min-height: 160px;
    background-color: #008000;
}

.margin-arround {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px);
    min-height: 160px;
    background-color: darkorange;
}

.column {
    display: flex;
    flex-direction: column;
}

.color-red {
    color: var(--colorRed);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.half_size {
    width: 50%;
}